<div class="container d-flex justify-content-center align-items-center" style="height: calc(100vh - 70px);">
    <div class="card" style="width: 300px;">
      <div class="card-header">
        Password Reset
      </div>
      <div class="card-body">
        <ngx-loading [show]="loadingBank" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
        
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPassForm">
          <div class="form-group" formGroupName="passwords">
            <input type="password" 
              class="form-control"
              placeholder="New Password"
              formControlName="password">
              <div *ngIf="(resetPassForm.get('passwords.password').touched || resetPassForm.get('passwords.password').dirty) && !resetPassForm.get('passwords.password').valid">
                <small *ngIf="resetPassForm.get('passwords.password').errors.required">Enter your new password</small>
                <small *ngIf="resetPassForm.get('passwords.password').errors.minlength">Password should contain atleast one capital & small alphabet, a numeric character and a special character</small>
              </div>
            <input type="password" 
              class="form-control"
              placeholder="Confirm New password"
              formControlName="cpassword">
              <div *ngIf="(resetPassForm.get('passwords.cpassword').touched || resetPassForm.get('passwords.cpassword').dirty) && !resetPassForm.get('passwords.cpassword').valid">
                <small *ngIf="resetPassForm.get('passwords.cpassword').errors.required">Confirm password is required</small>
              </div>
              <small *ngIf="resetPassForm.get('passwords').errors">Passwords doesn't match</small>
          </div>
          <div class="form-group">
            <input type="submit" 
              value="Submit" class="btn btn-primary"
              [disabled]="!resetPassForm.valid">
          </div>
        </form>
      </div>
    </div>
  </div>
