<div class="main-section">
  <div class="main-in">
    <div class="title">
      <h5>Portfolio</h5>
      <div class="buttons">
        <button>Download Statement</button>
        <button>New Transaction <fa name="chevron-down"></fa></button>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-6">
        <div class="card">
          <p class="card-title">Total Purchase</p>
          <h5>50,000.00</h5>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="card">
          <p class="card-title">Cost Value</p>
          <h5>50,000.00</h5>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="card">
          <p class="card-title">Current Value</p>
          <h5>50,500.29</h5>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="card">
          <p class="card-title">Profit/ Loss</p>
          <h5>Profit</h5>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="card">
          <p class="card-title">Growth Value</p>
          <h5>1.2% <fa name="caret-up" class="text-muted"></fa></h5>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card">
        <h5 class="card-title">Gokul</h5>
        <table style="width:100%">
          <tr>
            <td>Scheme 5</td>
            <td>1000.00</td>
            <td>Lumpsum</td>
            <td>5.2% <fa name="caret-up" class="text-muted"></fa></td>
          </tr>
          <tr>
            <td>Scheme 6</td>
            <td>4000.00</td>
            <td>Lumpsum</td>
            <td>3.2% <fa name="caret-up" class="text-muted"></fa></td>
          </tr>
        </table>
        <hr>
        <h5 class="card-title">Deepika Gokul</h5>
        <table style="width:100%">
          <tr>
            <td>Scheme 5</td>
            <td>1000.00</td>
            <td>Lumpsum</td>
            <td>5.2% <fa name="caret-up" class="text-muted"></fa></td>
          </tr>
          <tr>
            <td>Scheme 6</td>
            <td>4000.00</td>
            <td>Lumpsum</td>
            <td>3.2% <fa name="caret-up" class="text-muted"></fa></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
  