<div class="main-section">
  <div class="main-in">
    <div class="title">
      <h5>Settings</h5>
      <div class="buttons">
        <button>Add Portfolio</button>
        <!-- <button>New Transaction <fa name="chevron-down"></fa></button> -->
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div class="portfolio">
          <div class="profile-card">
            <div class="profile-img">
              <img src="./assets/user.png" alt="user">
            </div>
            <div class="profile-info">
              <p><label for="name">Primary Portfolio :</label> Gokul</p>
              <p><label for="name">Portfolio Number :</label> 45454855</p>
              <p><label for="name">Address :</label> 121, Parthasarathy Street, Chennai</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div class="secondary-portfolio">
          <div class="profile-card">
            <div class="profile-img">
              <img src="./assets/user.png" alt="user">
            </div>
            <div class="profile-info">
              <p><label for="name">Primary Portfolio :</label>Ranjini Gokul</p>
              <p><label for="name">Portfolio Number :</label> 32587345</p>
              <p><label for="name">Address :</label> 121, Parthasarathy Street, Chennai</p>
            </div>
            <div class="portfolio-action">
              <button>Remove Portfolio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12">
        <div class="secondary-portfolio">
          <div class="profile-card">
            <div class="profile-img">
              <img src="./assets/user.png" alt="user">
            </div>
            <div class="profile-info">
              <p><label for="name">Primary Portfolio :</label>Deepika Gokul</p>
              <p><label for="name">Portfolio Number :</label> 137689483</p>
              <p><label for="name">Address :</label> 121, Parthasarathy Street, Chennai</p>
            </div>
            <div class="portfolio-action">
              <button>Remove Portfolio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  