<div class="container">
  <div class="wu-row">
    <div class="wu-row-in">
      <div class="half">
        <div class="my-card" routerLink="/investment/new-investment">
          <div class="my-card-img">
            <img src="./assets/to_invest.jpg" alt="New Investment">
          </div>
          <div class="my-card-info">
            <h6>New Investment</h6>
            <p>To purchase a new Investment plan</p>
          </div>
        </div>
      </div>
      <div class="half">
        <div class="my-card" routerLink="/cas">
          <div class="my-card-img">
            <img src="./assets/invest.jpg" alt="Existing Portfolio">
          </div>
          <div class="my-card-info">
            <h6>Existing Portfolio</h6>
            <p>To manage all previous plans/portfolio</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
