<div class="main-section">
  <div class="main-in">
    <div class="title">
      <h5>My Dashboard</h5>
      <button>New Transaction <fa name="chevron-down"></fa></button>
    </div>
    <div class="row mb-3 stats">
      <div class="col col-xs-6">
        <div class="dash-card">
          <h1 class="count">12</h1>
          <p class="name">Transactions waiting for your approval</p>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="dash-card">
          <h1 class="count">05</h1>
          <p class="name">Upcoming Transactions</p>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="dash-card">
          <h1 class="count">10</h1>
          <p class="name">Recent Transactions</p>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="dash-card">
          <h1 class="count">11</h1>
          <p class="name">General Notifications</p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card">
        <h5 class="card-title">Transactions waiting for your approval</h5>
        <div class="card-body table-responsive">
          <table style="width:100%">
            <tr>
              <th class="sm-width">S No</th>
              <th class="md-width">Date</th>
              <th class="md-width">Status</th>
              <th class="md-width">Type</th>
              <th class="md-width">Scheme</th>
              <th class="md-width">Amount</th>
              <th class="md-width">Action</th>
            </tr>
            <tr>
              <td>1</td>
              <td>12-01-2017</td>
              <td>Active</td>
              <td>Growth</td>
              <td>Some Scheme Name</td>
              <td>52000</td>
              <td>
                <button>Edit</button>
                <button class="dark-btn">Pay</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>12-01-2017</td>
              <td>Active</td>
              <td>Growth</td>
              <td>Some Scheme Name</td>
              <td>52000</td>
              <td>
                <button>Edit</button>
                <button class="dark-btn">Pay</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>12-01-2017</td>
              <td>Active</td>
              <td>Growth</td>
              <td>Some Scheme Name</td>
              <td>52000</td>
              <td>
                <button>Edit</button>
                <button class="dark-btn">Pay</button>
              </td>
            </tr>
          </table>
          <a href="#">See more recent transactions</a>
        </div>
      </div>
    </div>
  </div>
</div>
