/* You can add global styles to this file, and also import other style files */


.blue {
    color: #046cf1;
}
.body {
    overflow: auto !important;
}
.logo {
    font-weight: 700;
    font-size: 1.5rem;
}
*:focus {
    outline: none;
}
button {
    cursor: pointer;
}
/* .ng-sidebar__content {
    overflow: hidden !important;
} */
#toast-container {
    opacity: 0.8;
}
.backdrop {
    position: fixed !important;
}

button.dp-calendar-nav-left, button.dp-calendar-nav-right {
  background: none;
  border: none;
}

body, html {
    height: 100%;
  }
  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  /* .app-loading .logo {
      width: 100px;
      height: 100px;
      background: url(./assets/user.png) center center no-repeat;
  } */