<div class="main-section">
  <div class="main-in">
    <div class="title">
      <h5 class="text-center">Common Account Statement</h5>
    </div>
    <div class="row">
      <div class="col">
        <div class="casInfo-body card">
          <div class="card-body">
            <div class="casInfo-body-txt">
              <p class="text-center">CAS is your common account statement across all mutual funds. You can generate the report as below. Once you get
                your mail, you can upload the same here!!</p>
            </div>
            <div class="row cas-info">
              <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/8T3GUUynEMI" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-12 col-md-6 mobm">
                <div class="card">
                  <div class="card-body">
                    <p class="small">Investors who had registered their email address with mutual funds serviced by KARVY, CAMS, FTAMIL and SBFS
                      can avail the facility to obtain a consolidated PDF account statement in their registered email address.</p>
                    <p class="small">
                      The following are the URLs for accessing the e-CAS web service of the four RTAS:
                    </p>
                    <p class="small">KARVY:
                      <a href="http://www.karvymfs.com/platformservice/" target="_blank">
                        http://www.karvymfs.com/platformservice/</a>
                    </p>
                    <p class="small">CAMS:
                      <a href="https://www.camsonline.com/COL_Referer.aspx" target="_blank">https://www.camsonline.com/COL_Referer.aspx</a>
                    </p>
                    <p class="small">Franklin Templeton</p>
                    <p class="small">Sundaram</p>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn ok-btn float-right mt-2" routerLink="/cas/cas-upload">Continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
